.video-js {
    position: relative;

    .vjs-big-play-button {
        position: absolute;
        top: 50% !important;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 60px !important;
        height: 60px !important;
        background-image: url('./play.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: transparent !important;
        border: none !important;
        cursor: pointer;

        .vjs-icon-placeholder::before {
            display: none !important;
            content: "" !important;
        }

    }

    .vjs-progress-control {
        overflow: hidden;
    }

    .vjs-time-control {
        display: block !important;
        padding-left: 0.2em !important;
        padding-right: 0.2em !important;
        min-width: 0.2rem !important;

    }

    .vjs-control-bar {
        .vjs-picture-in-picture-control {
            display: none;
        }
    }
}

.vjs-error .vjs-error-display:before {
    content: "" !important;
}